extends layout

block content
  #root
    
block script
  
  script(src='/javascripts/index/webSocket.js')
  script(src='/javascripts/index/Home.js')
  script(src='/javascripts/index/Wait.js')
  script(src='/javascripts/index/Chat.js')
  script(src='/javascripts/index/Message.js')
  script(src='/javascripts/index/Disconnect.js')
  script(src='/javascripts/index/Root.js')
