extends layout

block content
  #root
    
block script
  
  script(type='text/babel' src='/javascripts/index/webSocket.jsx')
  script(type='text/babel' src='/javascripts/index/Home.jsx')
  script(type='text/babel' src='/javascripts/index/Wait.jsx')
  script(type='text/babel' src='/javascripts/index/Chat.jsx')
  script(type='text/babel' src='/javascripts/index/Message.jsx')
  script(type='text/babel' src='/javascripts/index/Disconnect.jsx')
  script(type='text/babel' src='/javascripts/index/Root.jsx')
