html {
  min-height: 100%; }

body {
  background-image: linear-gradient(180deg, #07413A 47%, #1c0126 94.27%);
  background-size: 100% 200%;
  background-position: 0 100%; }

.bodyAnimation {
  animation-name: bgChange;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease; }

@keyframes bgChange {
  from {
    background-position: 0% 100%; }
  to {
    background-position: 0% 0%; } }

.home div {
  padding: 0.2em; }

.home div:first-child {
  position: absolute;
  top: 20%;
  color: white;
  font-weight: lighter;
  text-align: center;
  width: 100%;
  font-size: 1.6rem; }

.home div:nth-child(2) {
  position: absolute;
  top: 40%;
  width: 100%;
  text-align: center; }
  .home div:nth-child(2) button {
    border-radius: 6px;
    height: 2.9em;
    width: 12em;
    background-color: #099188;
    border: none;
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Open Sans', sans-serif;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); }

.home div:nth-child(3) {
  position: absolute;
  bottom: 5%;
  text-align: center;
  width: 100%; }
  .home div:nth-child(3) img {
    width: 3em; }

@media (min-width: 768px) {
  #home div:first-child {
    font-size: 1.8rem; }
  #home div:nth-child(2) {
    top: 35%; } }

.homeFadeIn {
  animation: homeFadeIn 1s forwards; }

@keyframes homeFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.homeFadeOut {
  animation-name: homeFadeOut;
  animation-duration: 1s;
  animation-fill-mode: forwards; }

@keyframes homeFadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

.wait {
  position: absolute;
  width: 100%;
  top: 9%; }
  .wait div:first-child {
    color: white;
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    height: 200px;
    width: 200px;
    text-align: center;
    padding-top: 86px;
    z-index: 2; }
    .wait div:first-child span {
      font-family: 'Open Sans', sans-serif; }
  .wait svg {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto; }
    .wait svg circle {
      stroke: #9F9321;
      stroke-width: 6px;
      fill: none; }

.wait {
  animation: waitFadeIn 0.5s ease forwards; }
  .wait svg circle {
    animation: waitYellowPulse 2s ease-in-out infinite forwards; }

@keyframes waitFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes waitYellowPulse {
  0% {
    stroke: #9F9321; }
  50% {
    stroke: #FFE600; }
  100% {
    stroke: #9F9321; } }

@keyframes foundGreenPulse {
  from {
    stroke: #9F9321; }
  to {
    stroke: #25C46E; } }

#waitTagline {
  color: white;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 43%; }
  #waitTagline p {
    font-family: 'Open Sans', sans-serif; }

#foundTagline {
  color: white;
  font-family: 'open sans', sans serifs;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 45%; }
  #foundTagline p:nth-child(2) {
    font-weight: bold;
    font-size: 2.5rem; }
  #foundTagline p:nth-child(3) {
    font-style: italic;
    margin-top: 2.6em; }

@media (min-width: 768px) {
  #foundTagline {
    top: 39%; }
    #foundTagline p:nth-child(3) {
      margin-top: 2em; } }

.chat {
  font-family: 'open sans', sans serif; }
  .chat .chatHeader {
    position: fixed;
    width: 100%;
    background: #610963;
    height: 2.7em;
    text-align: center;
    color: white;
    padding-top: 0.4em;
    font-weight: bolder;
    font-size: 1.1em;
    overflow: hidden;
    letter-spacing: 2px;
    z-index: 2; }
    .chat .chatHeader a:first-child div, .chat .chatHeader a:first-child:hover div {
      position: absolute;
      left: 0.8em;
      color: white; }
  .chat .chatArray {
    padding-top: 5em;
    padding-bottom: 10em;
    word-wrap: break-word;
    padding-right: 0.2em;
    padding-left: 0.2em;
    font-size: 0.9em;
    color: white;
    letter-spacing: 0.3px; }
  .chat .chatSend {
    position: fixed;
    bottom: 0%;
    width: 100%;
    text-align: center;
    background: #121212;
    padding-top: 1em; }
    .chat .chatSend form {
      margin-bottom: 1em; }
      .chat .chatSend form textarea {
        background: #ECECEC;
        border: 1px solid #4A4A4A;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        padding: 0.2em;
        font-size: 0.9em;
        width: 19em;
        height: 5em; }
      .chat .chatSend form button {
        background: #19A0BD;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 7px;
        border: none;
        color: white;
        height: 2.7em;
        width: 4em;
        font-size: 0.9em;
        margin-left: 0.7em;
        position: relative;
        bottom: 1.7em; }

.chatMsg {
  margin-bottom: 1.5em; }
  .chatMsg p:nth-child(2) {
    background: #031a2463;
    padding: 0.5em 0.4em;
    border-radius: 6px; }

.chatMsgSelf p:first-child {
  margin-bottom: 0.2em;
  margin-left: 0.4em; }

.chatMsgOther p:first-child {
  text-align: right;
  margin-bottom: 0.2em;
  margin-right: 0.4em; }

.chatMsgOther p:nth-child(2) {
  background: #100c3529; }

@media (min-width: 768px) {
  .chatArray {
    width: 700px;
    margin: 0 auto; } }

.chatHeaderSlideIn {
  animation-name: chatHeaderSlideIn;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes chatHeaderSlideIn {
  from {
    top: -8%; }
  to {
    top: 0%; } }

.chatMessageAppear {
  animation-name: chatMessageAppear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes chatMessageAppear {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.chatSendAppear {
  animation-name: chatSendAppear;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; }

@keyframes chatSendAppear {
  from {
    bottom: -19%; }
  to {
    bottom: 0%; } }

.disconnect {
  color: white;
  text-align: center;
  font-family: 'open sans', sans serif;
  background: #171717;
  height: 100%;
  width: 100%;
  position: absolute; }
  .disconnect span {
    display: block;
    position: absolute;
    top: 24%;
    width: 100%; }
  .disconnect div {
    position: absolute;
    width: 100%;
    top: 38%; }
    .disconnect div button, .disconnect div button:hover {
      background: #5c0303;
      border: none;
      color: white;
      border-radius: 6px;
      height: 2.9em;
      width: 11em; }

.disappearFadeOut {
  animation: disappearFadeOut 1s forwards; }

@keyframes disappearFadeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0;
    display: none; } }

/*# sourceMappingURL=style.css.map */